*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: "Poppins",sans-serif;
  color:#fff;
}

body,html{
  scroll-behavior: smooth;
  background-color: #9F5255;
}

.nav-bar{
  background-color:#E16A14;
  width:100vw;
  height:10vh;
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding:12px;
  position: fixed;
  top:0;
  transition:all 350ms;
}
.nav-brand > p{
  font-size: 1.5em;
  font-weight:bold;
  letter-spacing: 0.05em;
}
.hero{
  display:flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-top:30%;
  height:70vh;
}
.writing-pic{
  margin:0 auto;
  width:16em;
  height:16em;
  margin:12px;
}

.charge{
  padding:18px;
  text-align:center;
}
.start-btn{
  background-color:#E16A14;
  padding:13px;
  width:70vw;
  border-radius:50px;
  outline:none;
  border:none;
}
.info-section{
  display:flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color:#E16A14;
  margin-top: 20%;
}
.card{
  width:85vw;
  display:flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 30px;
  height:40vh;
}
.card > i{
  padding:23px;
  background-color: #9F5255;
  border-radius:50%;
  border:2px solid #975250;
  font-size: 1.45em;
  transition:all 350ms;
}
.card > p{
  width:90%;
  font-size: 0.786em;
  text-align: center;
}