<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="landing.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>NoteHaven | Home</title>
</head>

<body>
  <div id="app">
    <nav class="nav-bar">
      <span class="nav-brand">
      <p>NoteHaven</p>
      </span>
    </nav>
    <main class="hero">
      <img src="write.svg" alt="Person writing in NoteHaven" class="writing-pic">
      <h3>Welcome to NoteHaven 😊 </h3>
      <p class="charge">Capture your ideas, stay organized, and keep your notes ready anytime."</p>
      <button class="start-btn">Start Writing✍️</button>
    </main>
    <section class="info-section">
      <card text="Create stylized and personalized notes that truly reflect your unique ideas, style, and creativity." clss="fa-solid fa-pen-nib"></card>
      <card text="Organize your thoughts effortlessly and access them anytime, anywhere." clss="fa-regular fa-folder"></card>
      <card text="Stay on track with smart, customizable note templates for every need." clss="fa-solid fa-check-double"></card>
    </section>
  </div>
  <script src="landing.js" type="module"></script>
</body>

</html>